.main{
  position: relative;
  height: 80vh;
}
.container {
  padding : 0 4rem 4rem 4rem;
  min-width: 40rem;
  background-color: rgb(239, 244, 244);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  margin-top: 4rem;
  box-shadow: 0 1.6rem 6rem rgba(0, 0, 0, 0.5);
}
.countrylist{
  list-style: none;
  margin-top: 2rem;
}
.countrylist li {
  margin-bottom: 1rem;
}
.header {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 4rem;
}
