@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700;800;900&family=Montserrat:wght@400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
 
}

a {
  text-decoration: none;
}

